
body {
  font-family:'Inconsolata', sans-serif;
}

#title {
  background-color: #C799A6;
  z-index: 0;
  position: static;
}

.container-fluid{
  padding: 3% 15%;
}

h1{
  font-family:'Inconsolata', sans-serif;
  font-size: 3 rem;
  font-weight: bold;
  line-height: 1.5;
  color: white;
}

h2{
  color: white;
  font-family:'Inconsolata', sans-serif;
  font-size: 1.5;
  font-weight: bold;
}

h3{
  font-family: 'Inconsolata', serif;
  font-weight: bold;
}

p{
  color: #8f8f8f;
}


/*navigation bar*/

.navbar-brand{
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.navbar {
  padding: 0rem 0rem 4.5rem 0rem
}

.nav-item {
  padding: 0px 18px

}

.nav-link{
  font-family: 'Inconsolata', sans-serif;
  font-size: 1.3rem;
  color: white;
}

/* Download buttons*/

.download-button{
  margin: 8% 3% 8% 0%;
  color: white;
}

.download-icon{
  margin: 0px 0px 5px 0px;
}


/*title image*/

.title-image{
  width: 60%;
  transform: rotate(20deg);
  z-index: 5;
  position: absolute;
}

/*features*/

#features {
  padding: 7% 15%;
  background-color: white;
  z-index: 10;
  position: relative;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #4B2840;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #E15A97;
}




/*testimonial section*/

#testimonials {
  text-align: center;
  background-color: #C799A6;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 10px;
}

em{
  color: white;
}

/*Press*/

#press{
  background-color: #C799A6;
  text-align: center;
}

.press-logo{
  width: 10%;
  margin: 20px 20px 50px;
}

/*pricing*/

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-header{
  color:black;
}

.pricing-column{
  padding: 3% 2%;
}

/*Call to action*/

#cta {
  background-color: #C799A6;
  color: #ffff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

/*footer*/
#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
  color: #E15A97;
}


@media (max-width: 1028px){
  
  #title{
    text-align: center;
  }
  
  .title-image{
    position: static;
    transform: rotate(0);

  }


}
















/* COGS3 studyBuddy specific styles go here. */